<% layout("/layouts/boilerplate") %>

<div class="row mt-3 mb-5">
    <div class="col-8 offset-2">
    <body>  
        <h3><%= listing[0].title %></h3>

        <div class="card show-img">
            <img src="<%= listing[0].image.url %>" class="card-img-top mb-3" alt="listing_image">
            <div class="card-body">
             <p class="card-text"> Owned by : <%= listing[0].owner.username %></p> 
              <p class="card-text"><%= listing[0].description %></p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              
            </form>
            </div>
          </div>
        <p></p>
        <p>&#8377; <%= listing[0].price.toLocaleString("en-IN") %></p>
        <p><%= listing[0].location %></p>
        <p><%= listing[0].country %></p>

        
        <% if(currUser && currUser._id.equals(listing[0].owner._id)){ %>
        <div class="row">
            <form method="GET" class="col-3" action="/listings/<%= listing[0]._id %>/edit">
                <button class="btn btn-dark">Update</button>
            </form>
            
            <form method="POST" class="col-4" action="/listings/<%= listing[0]._id %>?_method=DELETE">
                <button class="btn btn-dark">Delete</button>
            </form> 
        </div>
        
        <% } %>
        
             
        <hr>
        <% if(currUser) {%>
        <h2 class="mt-5 mb-3">Add a review!</h2>
        <div class="row">
            <form method="POST" action="/listings/<%= listing[0]._id %>/reviews" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="comment" >Comment: </label>
                    <textarea name="review[comment]" class="form-control" id="comment" cols="30" rows="10" required></textarea>
                    <div class="invalid-feedback">Please add some review!</div>
                </div>


                <label for="review[ratings]">Ratings: </label>

                   <fieldset class="starability-slot">
                    
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[ratings]" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[ratings]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[ratings]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[ratings]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[ratings]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[ratings]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                
                <button class="btn btn-dark addReview col-3">Submit</button>
            </form>
            
        </div>

        <hr>
        <% } %>

        <% if(listing[0].review.length){ %>
        <h2 class="mt-5 mb-3">Reviews</h2>
        <div class="row  ">
            
                <% for (review of listing[0].review) {%>
                    <div class="card col-5 mb-4 ms-3">
                        <div class="card-body review-card mb-3">
                            <h5 class="card-title">@<%= review.author.username %></h5>
                            <p class="card-text starability-result" data-rating="<%= review.ratings %>"><%= review.ratings %></p>
                            <p class="card-text"><%= review.comment %> </p>
                        </div>
                        <form class="mb-2" method="POST" action="/listings/<%= listing[0]._id %>/reviews/<%= review._id %>?_method=DELETE">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                    </div>  
                <% } %>
            
            
        </div> 
        <%}%>
    </body>
</div>
</div>

